*{
    margin: 0px;
    padding: 0px;
}
.sections{
    display: flex;
    background-color: antiquewhite;
    width: 100%;

}
.paddi{
    padding: 10px;
}
.divs{
    color: aqua;
    width: 30%;
    padding: 3%;
}
.pict{
    border-radius: 100%;
}
.fontsize{
    font-size: 50px;
    padding-left: 5%;
    padding: 5%;
}
.logo{
    display: flex;
    margin-bottom: 50px;
    width: 75%;
    margin-left: 200px;
    margin-right: 40px;
    border-radius:40pxpx;
    border: 4px solid silver;
    margin-top: 30px;
}
.pic{
    border-radius: 15px;
}
.pic:hover{
    transform: scale(1.2);
}
.service-box{
    width: 40%;
    margin: 5%;
    box-shadow:10px 10px 10px skyblue ;
    height: 500px;
    width: 400px;
    margin-top: 100px;
    background-color: antiquewhite;
    padding: 4%;
}
.service{
    display: flex;
    width: 100%;
}
.service-heading{
    padding:100px;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    color: rgb(8, 8, 58);
    padding-right: 300px;
}
footer p{
    font-size: 20px;
    text-align: center;
}
.momo{
    font-size: 30px;
    padding-left:30% ;
    margin-right:20px;
    
    }
.jjj{
    height: 3000px;

}